/* General Styles */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.title-container {
    text-align: center;
    background-color: #007BFF;
    color: white;
    padding: 10px;
}

.main-container {
    display: flex;
    justify-content: space-between;
    padding: 20px;
}

.left-column, .right-column {
    flex: 1;
    padding: 20px;
}

.left-column {
    border-right: 2px solid #ddd;
}

.arena {
    position: relative;
    width: 700px;
    height: 500px;
    background-color: #f1f1f1;
    border: 2px solid #ccc;
    margin: 0 auto;
}

.robot {
    position: absolute;
    width: 30px;
    height: 30px;
    background-color: red;
    border-radius: 50%;
    bottom: 450px; /* Posisi awal */
    right: 0;
    transition: bottom 0.5s ease, right 0.5s ease;
}

.reset-button {
    margin-top: 20px;
    padding: 10px 20px;
    font-size: 16px;
    font-weight: bold;
    color: #fff;
    background-color: #e74c3c;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.reset-button:hover {
    background-color: #c0392b;
}

.right-column {
    display: flex;
    flex-direction: column;
}

.data-row {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}

.data-box {
    border: 1px solid #ccc;
    padding: 5px 10px;
    background-color: #f9f9f9;
    border-radius: 5px;
}
